body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	background-color: $background;
	color: $default;
}

.container {
	width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

.section {
	padding: 120px 0;
}

.title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 46px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.back-to-top {
	position: fixed;
	right: 50px;
	bottom: 60px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: $default;
	background-image: url(../images/back-to-top.svg);
	z-index: 10;
	transform: rotate(-90deg);
	transition: all .1s;
	@extend %background;
	background-size: 60%;
	&:focus {
		box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.5);
	}
	&:hover {
		background-color: #006dff;
	}
	&:active {
		background-color: #0246a0;
	}
}